@import '../../styles/partials/partials.scss';

.inputbox {
  width: 530px;
  transform: perspective(10em) rotateX(35deg);
  transition: all 1s ease;
  &__button {
    display: none;
  }

  &:disabled {
    opacity: 0.2;

  }
}