@import '../../styles/partials/partials.scss';


.pacman {
  width: 100% !important;
  &__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &-board {
    svg {
      rect {
        display: none !important;
      }
    }

    .walls {
      path {
        stroke: #0FF !important;
      }
    }
  }
}