@import '../../styles/partials/partials.scss';

.options-button {
  background-color: $colorSecondary;
  color: black;
  font-size: 1.5rem;
  padding: 4px 10px;
  margin:6px;

  &__text {
    transform: rotateX(180deg);
    color: black;

    &:hover {
      color: white;
    }
  }
  
  &:hover {
    background-color: black;
    color: $colorSecondary;
    transform: rotateX(180deg);
    transition: all .5s ease;
  }
}